<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FitRiteGarmentFactory</title>
  <meta name="description" content="Find the garment that fits!">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/garment-factory.css">
  

</head>
<body>
  {{{body}}}
  <footer>
      <p>&copy;2024 Fit Rite Garment Factory  | About | Contact | Follow us |</p>
  </footer>
  <script type="text/javascript" src="/garment-factory.js"></script>
</body>
</html>
