
        <header>
            <div>
                <a href="./"><h1>Fit Rite Garment Factory</h1></a>"
            </div>
        </header>
        <div class="banner">
        </div>
        <main>
            <div>
                <div>
                    <div>
                        <h2 class="text-center text-lg">Customer Favorites</h2>
                        <ul class="category-items">
                            {{#each customerFavourites}}
                            <li>
                                <div><img class="featured-image" src="./garment-images/{{this.garment.image}}" alt="Customer Favorite Images Here"></div>
                                <div>{{this.garment.name}}</div>
                                <button class="btn-add-to-cart" data-garment="{{this.garment._id}}">Add to cart</button>
                                
                            </li>
                            {{/each }}
                        </ul>
                        <h2 class="text-center text-lg">New Releases </h2>
                    </div>
                    <div class="text-center">
                    <button class="btn-men" id="menButton">Men</button>
                    <button class="btn-wommen" id="womenButton">Women</button>
                     <button class="btn-children" id="childrenButton">Children</button>
                      <button class="btn-sale" id="saleButton">Sale</button>
                       <button class="btn-account" id="accountButton">Account</button>
                        <button class="btn-cart" id="cartButton">Cart</button>
                    </div>
                    
                    <img class="featured-image" src="" alt="Shop Now Image Here">
                    <img class="featured-image" src="" alt="New Releases Images Here">
                </div>
            </div>
            <section>
            </section>
        </main>
    </body>